
.content {
  width: 100%;
  margin-top: 96px;
  border-radius: 4px;
  padding: 30px 20px;
}

.content form {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100%;
  background-size: cover;
  height: 100%;
}

.Input {
  color:#4e4e4e;
  width: 100%;
}

.Input:focus {
  color:#f8b100;
}
@media screen and (max-width:480px){
   body{
      background: #000 url('../../assets/img/wallpaper.png') no-repeat;
      background-position: 81% 22% !important;
      background-size: 410% ;
      position: relative;
   }
}

@media screen and (min-width:1400px){
  body{
    background-position: 81% 11%;

  }
}

@media screen and (min-height:720px){
  body{
    background-position: 81% 11%;
    background-size: 122%;
  }

  .content {
    width: 100%;
    margin-top: 156px;
    border-radius: 4px;
    padding: 30px 20px;
  }
}

container {
  display: flex;
  flex-wrap: wrap;
}

textField {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

formControl {
  width:'100%';
}